<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="description" content="Contate nossa equipe equipe">
    <link rel="stylesheet" href="./contato.component.css">
    <title>Contato</title>
</head>
<body>
    <section class="contato-intro">
        <div>
            <h2>Componente Contato</h2>
        </div>
    </section>
</body>
</html>