<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <meta name="description" content="Descrição sobre a página e criador" />
    <link rel="stylesheet" href="./sobre.component.css" />
    <title>Sobre</title>
  </head>
  <body>
    <app-home></app-home>
    <section class="section-sobre">
      <div class="div-titulo">
        <h1>Sobre minha carreira</h1>
      </div>
      <div class="div-sobre">
        <img src="../assets/programar.png" alt="Imagem sobre programação" />
        <p>
          Olá, me chamo Micael, tenho 21 anos, atualmente estou formando em
          Análise e Desenvolvimento de Sistemas.<br />
          Meu primeiro compromisso é continuar aprendendo as tecnologias cada
          vez mais e consumir o máximo de conteúdos que podem me agregar mais
          conhecimentos. Atualmente focado na carreira de
          <span>Front-End. </span><br />
          Porém nunca deixando o <span> Back-End</span> de lado. Meu maior
          objetivo é alcançar o<span> FullStack.</span><br />
          Na minha infância sonhava em ser da área de TI, mas só tive contato
          com uma linguagem de programação aos 21 anos, Foi quando descobri a
          linguagem JavaScript, com essa linguagem vi um mundo de oportunidades
          a qual eu poderia criar,<br />
          E nesse momento comecei a me dedicar a linguagem.
        </p>
      </div>
      <h1>Tecnologias usadas nesse projeto</h1>
      <div class="framework-angular">
        <img
          src="../assets/angular.svg"
          alt="Imagem do framework front-end angular"
        />
        <p class="paragraf-angular">
          Esse Pequeno projeto foi criado usando o framework
          <span> Angular</span> Um dos frameworks da atualidade com maior
          destaque no mercado.<br />
          Angular é uma plataforma de aplicações web de código-fonte aberto e
          front-end baseado em TypeScript liderado pela Equipe Angular do
          Google<br />
          e por uma comunidade de indivíduos e corporações. Angular é uma
          reescrita completa do AngularJS, feito pela mesma equipe que o
          construiu.<br><br>
          <a href="https://angular.io/" target="_blank">Documentação do Angular</a>
        </p>
      </div>

      <div class="div-tecnologias">
        <div class="tec">
          <img src="../assets/html.png" alt="Logo do HTML" class="img-tec">
          <p>HTML</p>
        </div>
        <div class="tec">
          <img src="../assets/css.png" alt="Logo do CSS" class="img-tec">
          <p>CSS</p>
        </div>
        <div class="tec">
          <img src="../assets/typescript.svg" alt="Logo do TypeScript" class="img-tec">
          <p>TypeScript</p>
        </div>
        <div class="tec">
          <img src="../assets/javascript.png" alt="Logo do JavaScript" class="img-tec">
          <p>JavaScript</p>
        </div>
      </div>
    </section>
  </body>
</html>
